.Card{
    width: 450px;
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

ul{
    list-style-type: none;
}